.btns-crud {
  width: 250px;
}

.age-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-invalid {
  border-color: red;
}

.input-invalid:focus {
  border-color: red;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px red;
}

.btn-delete {
  background-color: red;
  border-color: red;
}

.btn-delete:hover, .btn-delete:focus {
  background-color: rgb(197, 0, 0);
  border-color: rgb(197, 0, 0);
}

.btn-edit {
  background-color: rgb(255, 180, 0);
  border-color: rgb(255, 180, 0);
}

.btn-edit:hover, .btn-edit:focus {
  background-color: rgb(225, 150, 0);
  border-color: rgb(225, 150, 0);
}

