/* .side-menu {
  min-width: 20rem;
  width: 20%;
  height: calc(100vh - 50px);
}
*/
.btns-crud {
  width: 250px;
}

.age-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-invalid {
  border-color: red;
}

.input-invalid:focus {
  border-color: red;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px red;
}