.content {
  display: flex;
}

.side-menu {
  background-color: white;
  min-width: 20rem;
  width: 20%;
  height: calc(100vh - 50px);
}

.crud-buttons {
  text-align: right;
  padding-right: 10px;
  width: 50px;
}

.crud-buttons>* {
  color: black;
  margin-left: 5px;
}


