.view-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 0;
    align-items: flex-start;
}

input {
    margin-bottom: 1.5em;
}

input[type="checkbox"] {
    margin-left: 20px;
}

.about-input {
    width: 400px;
    height: 200px;
}

.view-container {

}




